body{
    width: 700px;
    padding: 20px;
    border: 5px solid black;
}
.bluebox{
    width: 600px;
    padding: 20px;
    border: 2px;
    background-color: blue;
    text-align: center;
}
.yellowbox{
    background-color: yellow;
    padding: 50px 0;
    margin: 0;
    font-size: 16px;
}